<md-dialog aria-label="Mango (Fruit)" ng-cloak flex="percentage" ie flex="50">
  <div ng-controller="AddProductCtrl" layout="column" ng-cloak>
    <md-content layout-padding>
      <form name="addProductForm" ng-submit="save()">

        <h1>New Product</h1>
        <br>

        <md-input-container class="md-block">
          <label>Name</label>
          <input required name="name" ng-model="product.name">
          <div ng-messages="addProductForm.name.$error">
            <div ng-message="required">* This is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Color</label>
          <input name="color" ng-model="product.color">
        </md-input-container>

        <md-autocomplete flex required
                         md-no-cache="true"
                         md-input-name="autocompleteField"
                         md-selected-item="producer.selectedItem"
                         md-search-text="producer.searchText"
                         md-items="item in producer.querySearch(producer.searchText)"
                         md-item-text="item.display"
                         md-floating-label="Producer">
          <md-item-template>
            <span md-highlight-text="AddProductCtrl.producer.searchText">{{item.display}}</span>
          </md-item-template>
          <div ng-messages="addProductForm.autocompleteField.$error" ng-if="addProductForm.autocompleteField.$touched">
            <div ng-message="required">* This is required.</div>
          </div>
          <md-not-found>
            Add new Producer
          </md-not-found>
        </md-autocomplete>






        <div layout="row" layout-align="end center">
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button class="md-accent" type="submit">Save</md-button>
        </div>

      </form>
    </md-content>
  </div>
</md-dialog>
