  <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/addProducer">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<md-content flex layout-padding>


  <h3>Awesome things</h3>


  <md-button class="md-raised" ng-href="#/about">About</md-button>
  <md-button class="md-raised" ng-href="#/producers">All Producers</md-button>


</md-content>
