<div ng-controller="ProducersCtrl" ng-cloak>
  <md-content>
    <h1>Producers</h1>
    <md-list>
      <md-list-item class="md-3-line" ng-repeat="producer in producers">
        <!--<img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />-->
        <div class="md-list-item-text" layout="column">
          <div>
            <h3>{{ producer.name }}</h3>
            <h4>{{ producer.address }}</h4>
            <p>{{ producer.url }}</p>
          </div>
          <div class="md-secondary md-hue-3">
            <md-button class="md-icon-button" aria-label="More" ng-click="deleteProducer($event, producer)">
              <i class="fa fa-times"></i>
            </md-button>
          </div>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>

    <md-button class="md-fab md-fab-top-right" aria-label="Add Producer"
               ng-click="showAddProducer($event)">
      <i class="fa fa-plus"></i>
    </md-button>

  </md-content>
</div>
